.highlightContainer{
    height: 100%;
}

.hToolbar {
    height: 35px;
    background-color: #0C1344;
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}


.expandAndReset {
    display: flex;
    align-items: center;
}

.clear-compare-btn {
    right: 20px;
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
}

.compareTableRow {
    height: 100%;
    width: 100%;
    flex-wrap: unset !important;
}

.compareCardCol {
    position: relative;
    top: 35px;
    left: 10px;
}



@media screen and (max-width: 998px) {
    .clear-compare-btn {
        font-size: 10px;
    }
}

.clearCompareMaterialIcon {
    position: relative;
    left: 10px;
}

.clear-compare-btn:hover {
    cursor: pointer;
    color: #806543;
    transform: scale(1.05);
}

.detailsFiller {
    width: 45px;
}

.toggleButton{
    font-size: 35px;
}

.toggleButton:hover{
    cursor: pointer;
}

.poofComparePic2 {
    max-height: 65px;
}

.compareSourceLogo{
    position: relative;
    bottom: 31px;
}

.compareSourceLogoPic{
    position: relative;
    right: 60px;
    bottom: 2px;
}

.compareBestBuyLogo{
    background-color: cornflowerblue;
    position: relative;
    right: 17px;
    bottom: -23px;
    width: 60%;
}

.comparePicHolder {
    margin: 30px 0px 0px 20px;
}

.imageContainer{
    flex-direction: column;
    float: left;
}

.itemName{
    display: flex;
    justify-content: center;
}

.itemLink{
    font-size: small;
}

.fillerContent{
    margin-left: 40px;
}

.itemSource {
    font-size: x-large;
    padding-top: 5px;
    position: relative;
    left: 60px;
}

.itemName2 {
    font-size: x-large;
}

.watchContainer {
    border-top: 3px solid #0C1344;
    padding-bottom: 30px;
}

.compareContainer:first-child {
    position: relative;
    top: 25px;
}

.priceTag {
    top: 7px;
    font-weight: 600;
    font-size: 30px;
    color: #e64949;
    padding-left: 50px !important;
}

@media screen and (max-width: 998px) {

    .comparePicHolder{
        position: relative;
        left: 17px;
    }

    .info{
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        text-align: center;
        left: 20px;
    }

    .itemSource{
        position: relative;
        bottom: 2px;
    }

    .priceTag{
        position: relative;
        left: 8px;
    }
}

/*Compare table row*/

.container-scroll > .row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 16px;
    padding-bottom: 27px;
    flex-wrap: unset;
    margin-right: unset;
    margin-left: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.container-scroll > .row:after {
    content: none;
    display: none; 
    clear: none;
}
  
.container-scroll > .row > .col-md-2 {
    display: inline-block;
    float: none;
  }

.poofCompareCard {
    height: 70% !important;
    width: 100%;
    top: 0.5vh !important;
    justify-content: space-around;
}

.poofCompareCard:hover {
    transform: scale(1.06);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}

.poofCardRowContent {
    margin-bottom: unset !important;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .poofCompareCard:hover {
        transform: scale(1);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
    }
}

.poofCompareImage {
    height: 8vh;
    display: flex;
    justify-content: center;
}

.poofCardTitle {
    overflow: hidden;
    font-size: 12px;
    height: 7vh;
}

.priceSourceAndRemove {
    align-items: center;
    margin-bottom: unset !important;
    height: 7vh;
}

.priceSourceAndRemoveBB {
    align-items: center;
    margin-bottom: unset !important;
    height: 7vh;
}

@media screen and (max-width: 992px) {
    .priceSourceAndRemove {
        position: relative;
        bottom: 1vh;
    }

    .priceSourceAndRemoveBB {
        position: relative;
        bottom: -1vh;
    }
}

.compareCol {
    display: flex;
    justify-content: center;
}

.card-price {
    color: rgb(230, 73, 73);
    height: 3vh;
}

.card-price-amazon {
    color: rgb(230, 73, 73);
    height: 3vh;
    bottom: 2vh;
}

.card-priceBB {
    position: absolute;
    left: -3.3vw;
    bottom: 2.2vh;
    color: rgb(230, 73, 73);
}

.card-price-ebay {
    position: absolute;
    left: -3.3vw;
    bottom: 3.5vh;
    color: rgb(230, 73, 73);
}

.poof-card-body {
    padding: unset !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center !important;
    height: 100% !important;
}

.poofCompareCardBody {
    height: 7vh;
}

.poofCardText2 {
    position: relative;
    top: 10px;
    right: 12px;
}

.compareBtnRow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh !important;
}

.compareBtnRowAmazon {
    align-items: center;
    position: relative;
    bottom: 3vh;
    margin-bottom: unset !important;
    height: 5vh;
}

.amazonPic {
    height: 10vh;
}

.compareBtnRowEbay {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 998px){
    .compareBtnRowEbay {
        position: relative;
        top: -14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.compareBtnRowBB {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    bottom: 1vh;
}

.removeBtnCompare:hover {
    cursor: pointer;
    color: #806543;
}


.purchaseLinkIconBtnCompare {
    color: black !important;
}

.purchaseLinkIconBtnCompare:hover {
    color: #806543 !important;
}

.productSourceLogo2{
    display: flex;
    justify-content: center;
}

.productEbayLogo2 {
    position: relative;
    bottom: 3px;
}

.productBestBuyLogo2{
    background-color: cornflowerblue;
    max-width: 60% !important;
    position: relative;
    bottom: 3px;
}

/*media query for iphone*/

@media screen and (max-width: 650px){

    .poofCompareCardBody {
        position: relative;
        left: 0px;
    }

    .compareBtnRowBB {
        position: relative;
        top: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .compareBtnRowEbay {
        position: relative;
        top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .compareBtnRow {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh !important;
    }
}


/*End of Compare Table Row*/