.highlightContainer{
    height: auto;
}

.hToolbar {
    height: 35px;
    background-color: #0C1344;
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

.detailsFiller {
    width: 45px;
}

.toggleButton{
    font-size: 35px;
}

.toggleButton:hover{
    cursor: pointer;
}

.compareSourceLogo{
    position: relative;
    bottom: 31px;
}

.compareSourceLogoPic{
    position: relative;
    right: 60px;
    bottom: 2px;
}

.compareBestBuyLogo{
    background-color: cornflowerblue;
    position: relative;
    right: 17px;
    bottom: -23px;
    width: 60%;
}

.comparePicHolder {
    margin: 30px 0px 0px 20px;
}

.imageContainer{
    flex-direction: column;
    float: left;
}

.itemName{
    display: flex;
    justify-content: center;
}

.itemLink{
    font-size: small;
}

.fillerContent{
    margin-left: 40px;
}

.itemSource {
    font-size: x-large;
    padding-top: 5px;
    position: relative;
    left: 60px;
}

.itemName2 {
    font-size: x-large;
}

.watchContainer {
    border-top: 3px solid #0C1344;
    padding-bottom: 30px;
}

.compareContainer:first-child {
    position: relative;
    top: 25px;
}

.priceTag {
    top: 7px;
    font-weight: 600;
    font-size: 30px;
    color: #e64949;
    padding-left: 50px !important;
}

@media screen and (max-width: 998px) {

    .comparePicHolder{
        position: relative;
        left: 17px;
    }

    .info{
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        text-align: center;
        left: 20px;
    }

    .itemSource{
        position: relative;
        bottom: 2px;
    }

    .priceTag{
        position: relative;
        left: 8px;
    }
}

/*Compare table row*/
.container-scroll > .row {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 45px;
    padding-bottom: 27px;
    flex-wrap: unset;
    margin-right: unset;
    margin-left: unset;
  }
  
.container-scroll > .row > .col-md-2 {
    display: inline-block;
    float: none;
  }

.poofCompareCard {
    height: 110px !important;
}