.highlightContainer{
    height: auto;
}

.hToolbar {
    height: 35px;
    background-color: #0C1344;
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.expandAndReset {
    display: flex;
    align-items: center;
}

.clear-compare-btn {
    font-size: 14px;
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
}

.clearCompareMaterialIcon {
    position: relative;
    left: 10px;
}

.clear-compare-btn:hover {
    cursor: pointer;
    color: #806543;
    transform: scale(1.05);
}

.detailsTitle {
    position: relative;
    right: 25px;
}

.detailsFiller {
    width: 45px;
}

.toggleButton{
    font-size: 35px;
}

.toggleButton:hover{
    cursor: pointer;
}

.compareSourceLogo{
    position: relative;
    bottom: 31px;
}

.compareSourceLogoPic{
    position: relative;
    right: 60px;
    bottom: 2px;
}

.compareBestBuyLogo{
    background-color: cornflowerblue;
    position: relative;
    right: 17px;
    bottom: -23px;
    width: 60%;
}

.comparePicHolder {
    margin: 30px 0px 0px 20px;
}

.imageContainer{
    flex-direction: column;
    float: left;
}

.itemName{
    display: flex;
    justify-content: center;
}

.itemLink{
    font-size: small;
}

.fillerContent{
    margin-left: 40px;
}

.itemSource {
    font-size: x-large;
    padding-top: 5px;
    position: relative;
    left: 60px;
}

.itemName2 {
    font-size: x-large;
}

.watchContainer {
    border-top: 3px solid #0C1344;
    padding-bottom: 30px;
}

.compareContainer:first-child {
    position: relative;
    top: 25px;
}

.priceTag {
    top: 7px;
    font-weight: 600;
    font-size: 30px;
    color: #e64949;
    padding-left: 50px !important;
}

@media screen and (max-width: 998px) {

    .comparePicHolder{
        position: relative;
        left: 17px;
    }

    .info{
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        text-align: center;
        left: 20px;
    }

    .itemSource{
        position: relative;
        bottom: 2px;
    }

    .priceTag{
        position: relative;
        left: 8px;
    }
}

/*Compare table row*/

.container-scroll > .row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 16px;
    padding-bottom: 27px;
    flex-wrap: unset;
    margin-right: unset;
    margin-left: unset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.container-scroll > .row:after {
    content: none;
    display: none; 
    clear: none;
}
  
.container-scroll > .row > .col-md-2 {
    display: inline-block;
    float: none;
  }

.poofCompareCard {
    height: 115px !important;
    width: 100%;
}

.poofCompareCard:hover {
    transform: scale(1.21);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}

.poofCompareImage {
    position: relative;
    left: 22px;
    top: 8px;
}

.poofCardTitle {
    font-size: 12px;
    overflow: hidden;
    height: 52px;
    white-space: break-spaces;
    position: relative;
    bottom: 15px;
}

.poofCompareCardBody {
    position: relative;
    left: 20px;
}

.poofCardText2 {
    position: relative;
    top: 10px;
    right: 12px;
}

.compareBtnRow {
    position: relative;
    top: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compareBtnRowEbay {
    position: relative;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compareBtnRowBB {
    position: relative;
    top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeBtnCompare:hover {
    cursor: pointer;
    color: #806543;
}


.purchaseLinkIconBtnCompare {
    color: black !important;
}

.purchaseLinkIconBtnCompare:hover {
    color: #806543 !important;
}

.productSourceLogo2{
    display: flex;
    justify-content: center;
  }
  
.productSourceLogoPic2{
    max-width: 125% !important;
}

.productEbayLogo2 {
    position: relative;
    bottom: 3px;
}

.productBestBuyLogo2{
    background-color: cornflowerblue;
    max-width: 60% !important;
    position: relative;
    bottom: 3px;
}


/*End of Compare Table Row*/