
.card-overlay {
    opacity: 0 !important;
    transition: .5s ease !important;
    background: turquoise;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.card-overlay2 {
  opacity: 0.5 !important;
  transition: .5s ease !important;
  background: turquoise;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.productSourceLogo{
  display: flex;
  justify-content: center;
}

.productSourceLogoPic{
  max-width: 30% !important;
  max-height: 30%;
  position: relative;
  left: 7px;
}

.productBestBuyLogo{
  background-color: cornflowerblue;
  max-width: 30% !important;
  max-height: 30%;
  position: relative;
  left: 7px;
  top: 12px;
}

@media screen and (max-width: 998px){
  .productBestBuyLogo{
    max-width: 15vh !important;
    max-height: 10vh !important;
  }

  .productSourceLogoPic{
    max-width: 24vw !important;
    max-height: 12vh !important;
  }
}

.card-title {
  max-height: 47px;
}

.productCard {
  min-height: 512px;
}

.productCard:hover {
    -moz-transform: scale(1.02);
			-webkit-transform: scale(1.02);
			-ms-transform: scale(1.02);
			transform: scale(1.02);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}

.itemImage:hover .card-overlay{
  opacity: 0.5 !important;
}

.featuredProduct {
  font-weight: 800;
    position: absolute;
    padding: 5px 10px;
    border: white double 5px;
    background-color: #0C1344;
    color: white;
    left: 10px;
    top: 10px;
}

.floatingWatchBtn {
    bottom: 5px !important;
}

.btnTool .btnTooltipText {
    width: 74px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #0C1344;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 93.8%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.btnTool .btnTooltipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0C1344 transparent transparent transparent;
}

.btnTool:hover .btnTooltipText {
  visibility: visible;
  opacity: 1;
}

.detailsBtn {
  opacity: 0;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 20%;
  transform: translate(50%, 200%);
  -ms-transform: translate(50%, 200%);
  text-align: center;
  font-weight: 800;
  border-radius: 10px !important;
  font-size: 15px;
}

.itemImage:hover .detailsBtn{
  opacity: 1 !important;
}

.detailsBtn:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #0C1344;
  color: white !important;
}

.itemPrice {
  bottom: 2%;
  font-weight: 600;
  font-size: 30px;
  color: #e64949;
}
