.resetButton{
    font-weight: 500;
}

.resetButton:hover {
    background-color: darkgoldenrod !important;
}

.bottomDrawer {
    height: 400px;
    background-color: blue;
    border: black;
    border-width: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.filterAndSort {
    position: relative;
    left: 25px;
    bottom: 10px;
}

.filterTitle {
    position: relative;
    bottom: 15px;
    font-size: 17.5px;
    font-weight: 900;
    color: #0C1344;
}

.itemsPerStoreContent {
    position: relative;
    top: 4px;
    left: 4px;
    font-size: 12.8px;
}

.poofCheckBox {
    left: 8px;
}

@media screen and (max-width: 998px){
    .compareTable{
        height: 78% !important;
        border-radius: 0px !important;
    }

    .hToolbar{
        border-radius: 0px !important;
    }

    .filterAndSort {
        bottom: 0px;
    }

    .filterTitle {
        bottom: 8px;
    }
}

.compareTable{
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    height: 32vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    background-color: blanchedalmond;
    border-radius: 0px 10px 0px 0px;
}

.compareTable::-webkit-scrollbar {
    display: none;
  }

.compareTable {
    -ms-overflow-style: none;
  }

.productHome {
    margin-top: 100px !important;
}

.testBlock {
    height: 300px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topTool .topTooltipText {
    width: 65px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 16%;
    left: 97.6%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.topTool .topTooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
  }
  
  .topTool:hover .topTooltipText {
    visibility: visible;
    opacity: 1;
  }

.topSideTool .topSideTooltipText {
    width: 68px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 77.97%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.topSideTool .topSideTooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
  }
  
  .topSideTool:hover .topSideTooltipText {
    visibility: hidden;
    opacity: 1;
  }

.topScrollerSide {
    height: 50px;
    width: 53px;
    position: absolute;
    bottom: 8px;
    right: 338px;
    background: #0C1344;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.8;
    animation: enlarge 0.8s;
}

.topScrollerSide:hover {
    opacity: 1 !important;
    cursor: pointer;
    background-color: black;
    border: darkgoldenrod double 4px;
}

@media screen and (max-width: 998px){

    .topScrollerSide {
        display: none;
    }

    .topTool .topTooltipText {
        left: 93%;
    }

    .topSideTool {
        display: none;
    }

    .topTool {
        display: none;
    }
}


.topScrollerMobile {
    position: absolute;
    bottom: 48px;
    right: 26px;
    height: 50px;
    width: 53px;
    background: #0C1344;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.topScrollerMobile:hover {
    opacity: 1 !important;
    cursor: pointer;
    background: black !important;
    border: darkgoldenrod double 4px;
}

@media screen and (min-width: 998px) {
    .topScrollerMobile {
        display: none;
    }
}

@keyframes enlarge {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

.topScroller {
    height: 50px;
    width: 53px;
    position: absolute;
    bottom: 55px;
    right: 38px;
    background: #0C1344;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.8;
    animation: enlarge 0.8s;
}


.topScroller:hover {
    opacity: 1 !important;
    cursor: pointer;
    background-color: black;
    border: darkgoldenrod double 4px;
}

#top {
    position: relative;
    top: -250px;
}

.hide {
    width: 0%;
    opacity: 0;
}

@keyframes enlarge {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

.show {
    opacity: 1;
    transition: opacity 4s;
}

.show2 {
    opacity: 0.77;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 75px;
    width: 150px;
    background: #d6ddda;
    border-radius: 8px;
    border: black 2px solid;
    background: #0C1344;
    color: white;
}

@media screen and (max-width: 780px){
    .show2 {
        top: unset;
        bottom: 50px;
        opacity: 0.77;
        position: absolute;
        z-index: 2;
        left: 18px;
        width: 90%;
        background: #d6ddda;
        border-radius: 8px;
        border: black 2px solid;
        background: #0C1344;
        color: white;
        display: flex;
        justify-content: center;
    }

    .itemsPerStoreContent {
        position: relative;
        top: 4px;
        font-size: 12.8px;
        display: flex;
        flex-direction: row;
    }

    .storeList {
        display: flex;
        flex-direction: row;
    }

    .storeListItem {
        margin-right: 25px;
    }
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }



