.featureTitle {
    font-size: 3rem;
    font-weight: 900;
    line-height: normal;
    font-family: sans-serif;
    position: relative;
    left: 9vw;
}

.featureComponentBanner {
    position: relative;
    background-image: url(../../images/featureBanner.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100vw 75vh;
    height: 75vh;
    display: flex;
    align-items: center;
}

.featureContainer {
    margin-top: 10vh !important;
}

.featureTitleBody {
    color: white;
}

.featureTitleText {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}

.featureTitleTextContent {
    text-align: center;
    font-size: 15px;
}

.featureTitleBody {
    position: relative;
    top: 15%;
    left: 5%;
    width: 30%;
}

.iphonePic1 {
    max-height: 89vh;
    width: 43vw;
}

.iphone1Text {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: normal;
}

.iphonePic2Row {
    position: relative;
    justify-content: flex-end;
    left: 8.5vw;
}

.iphonePic2 {
    position: relative;
    max-height: 90vh;
    width: 32vw;
}

.iphone2Text {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 1.1rem;
    line-height: normal;
    text-align: center;
}