input::placeholder{
    color: rgb(218, 95, 95)
}

.jumbo {
    position: relative;
    overflow: hidden;
    height: 1000px;
    background-color: black;
}

.jumbo2 {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    overflow: hidden;
    min-height: 0px;
    background-color: black;
}

.jumbo img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.38;
}

.mobileRouteLogin2{
    color: white;
    position: relative;
    right: 20px;
    top: 7px;
}

.desktopLoadWatchlist2{
    font-size: 35px;
}

@media screen and (max-width: 998px) {
    .poofLogo {
        display: none;
    }

    .loadDesktopWatchlist{
        display: none;
    }

    .newPoofLogo {
        display: none !important;
    }

    .newPoofLogo2 {
        display: none !important;
    }

    .label-icon{
        display: none;
    }

    .searchBox {
        display: none;
    }

    .watchlist-container {
        display: none;
    }

    .watchlist-container-bottom {
        display: none;
    }

    .watchtool-container {
        display: none !important;
    }

    .compareToolbar {
        height: 40px;
        background: var(--cool-gray-80,#283e4a);
        position: fixed;
        display: flex;
        bottom: 0;
        width: 102vw !important;
        z-index: 3;
        border-radius: 0px 0px 0px 0px !important;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        border: grey double 5px;
        border-bottom: none;
        border-left: none;
    }

    .detailsTitle2 {
        position: relative;
        right: 10px;
    }

    .resetUserLink {
        margin-top: 12px !important;
    }

    /* .jumbo{
        height: 744px;
    } */

    .jumbo{
        height: 100vh;
    }

    .comparePicHolder{
        position: relative;
        left: 17px;
    }

    .info{
        margin-top: 30px;
        overflow: hidden;
        position: relative;
        text-align: center;
        left: 20px;
    }

    .alertModal{
        width: 85% !important;
    }

    .modal{
        width: 85% !important;
    }

    .mobileRouteLogin2{
        display: none;
    }

    .logOutUserWatchDesktop{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .compareToolbar {
        width: 100%;
    }

    .detailsTitle2 {
        right: 0px;
    }
}

.info{
    margin-top: 30px;
}

.poofPic {
    position: relative;
    top: 4px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poofPic:hover {
    cursor: pointer;
}

.mediaHolder {
    position: absolute !important;
    top: 1% !important;
}

.desktopButtonRow{
    position: relative;
    top: 10px;
    right: 46px;
}

.desktopWatchlistItemTitle{
    position: relative;
    bottom: 10px;
    left: 15px;
    max-height: 61px !important;
}

.loadDesktopWatchlist:hover{
    cursor: pointer;
    color: #806543;
}

.loadDesktopWatchlist{
    position: relative;
    right: 20px;
    top: 7px;
    color: white;
}

.loadDesktopWatchlistIcon{
    font-size: 35px;
}

@media screen and (min-width: 998px) {
    .poofPic {
        display: none !important;
    }

    .mobile-watchlist {
        display: none !important;
    }

    .mobile-watchlist3 {
        display: none !important;
    }

    .mediaLoadBtn {
        display: none !important;
    }

    .mediaHolder {
        display: none !important;
    }

    .mobile-watchlist-icon2{
        display: none;
    }

    .mobile-watchlist-icon2{
        display: none;
    }

    .desktopSignUp{
        width: 29% !important;
        height: 33vh !important;
        border-radius: 10px !important;
    }

    .newNavBar{
        left: -17px !important;
    }

    .featuresNavBar {
        left: -17px !important;
    }
}

@media screen and (min-width: 576px) {
    .logOutBtn {
        padding-top: 10px !important;
    }
}

@media screen and (max-width: 575px) {
    .desktopFrontPage{
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .poofLogo2 {
        display: none !important;
    }
}

@media screen and (max-width: 600px){
    .header1Load2{
        position: absolute;
        right: 0;
        height: 55px !important;
    }
}

.nav-wrapper{
    background-color: transparent;
}


.header1Load {
    padding-right: 8px !important;
}

.header1Load2 {
    height: 65px;
}

.header1Load2:hover{
    background-color: #806543;
    cursor: pointer;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.laptopIcon:hover {
    background-color: #806543;
    cursor: pointer
}

.bookIcon:hover {
    background-color: #806543;
    cursor: pointer
}

.toyIcon:hover {
    background-color: #806543;
    cursor: pointer
}

.houseIcon:hover {
    background-color: #806543;
    cursor: pointer
}

.compareToolbar {
    height: 40px;
    background: var(--cool-gray-80,#283e4a);
    position: fixed;
    display: flex;
    bottom: 0;
    width: 500px;
    z-index: 3;
    border-radius: 0px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: grey double 5px;
    border-bottom: none;
    border-left: none;
}

.compareToolbar:hover {
    cursor: pointer;
    background-color: #806543;
    border: black double 4px;
    border-bottom: none;
    border-left: none;
}

.detailsFiller2 {
    width: 50px;
}

.navLinks:hover {
    background-color: #806543;
}

.homeLink {
    padding: 0px 15px;
}

.resetLink {
    padding: 0px 15px;
}

.resetUserLink {
    padding: 0px 15px;
    margin-top: 22px;
    color: white;
}

.homeLink:hover {
    background-color: #806543;
    cursor: pointer;
}

.logOutBtn {
    height: 100%;
}

.logOutBtn:hover {
    background-color: #806543;
    cursor: pointer;
}

.resetLink:hover {
    background-color: #806543;
    cursor: pointer;
}

.brand-logo:hover {
    background-color: #806543;
}

a:hover{
    color: white !important;
    text-decoration: none !important;
}

.poofSiteLink:hover {
    color: blue !important;
    text-decoration: underline !important;
}

.toggleButton{
    margin-left: 5px;
    color: white;
}

.toggleButton:hover{
    cursor: pointer;
    color: #806543;
}

.label-icon:hover {
    cursor: pointer;
}

.purchaseLinkBtn{
    position: relative;
    left: 25px;
}


.purchaseLinkIconBtn{
    color: black;
}

.purchaseLinkIconBtn:hover{
    color: #806543;
}

.watchlist-container {
    height: 80vh;
    background-color: blanchedalmond;
    position: fixed;
    width: 310px;
    z-index: 4;
    top: 58px;
    margin-top: 66px;
    right: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 12px 0px 0px 0px;
}

.watchlist-container-bottom {
    position: fixed;
    height: 20vh;
    bottom: 0;
    background: var(--cool-gray-80,#283e4a);
    width: 310px;
    right: 16px;
    z-index: 3;
}

.watchlist-container::-webkit-scrollbar {
    display: none;
  }

.toggle-watchlist {
    font-weight: normal;
    font-size: 30px;
    color: darkgoldenrod;

}

.toggle-watchlist:hover {
    cursor: pointer;
    color: white;
}

.watchImage{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 60px;
}

.watchtool-container {
    display: flex;
    height: 50px;
    background-color: var(--cool-gray-80,#283e4a);
    position: fixed;
    width: 50px;
    z-index: 101;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    right: 36px;
    bottom: 0px;
    width: 310px;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    border: grey double 5px;
    border-bottom: none;
}

/*Inactive class for disabled elements/components*/
.inactive {
    display: none;
}

.watchtool-container:hover {
    cursor: pointer;
    background-color: #806543;
    border: black double 4px;
    border-bottom: none;
}

.toggle-watchtoolbar{
    font-size: 40px;
    color: white;
}

.fillerToggle {
    width: 34px;
}

.toggle-watchtoolbar:hover{
    color: white;
    cursor: pointer;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C1344;
}

.linksContainer {
    margin-left: auto;
}

.save-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.saveWatch {
    margin-top: 20px;
}

.watchContainer2 {
    margin-top: 40px;
}

.watchlist-navbar{
    display: flex;
    border-top: white solid 1px;
}

.watchlistNav {
    height: 50px;
    background: var(--cool-gray-80,#283e4a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: white solid 1px;
    position: fixed;
    width: 310px;
    right: 16px;
    z-index: 1;
    border-radius: 12px 0px 0px 0px;
}

.watchlistCardDesktop:hover {
    -moz-transform: scale(1.02);
			-webkit-transform: scale(1.02);
			-ms-transform: scale(1.02);
            transform: scale(1.02);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}

.productCardContainer:first-child {
    margin-top: 60px;
}

/* .watchCardsContainer {
    height: 150vh;
} */

.watchlist-title {
    color: white;
    display: inline;
    position: relative;
    top: 1px;
    right: 5px;
}

.modal {
    height: 400px;
    max-height: 50% !important;
    top: 10%;
    left: 0;
    right: 0;
    bottom: unset !important;
    background-color: white !important;
    width: 60%;
}

.modal-content{
    border: unset !important;
}

.btn {
    background-color: #0C1344 !important;
}

.btn:hover {
    background-color: #806543 !important;
}

.btn, .btn-large, .btn-small {
    background-color: #0C1344 !important;
    color: white !important;
}

.removeTool .removeTooltipText {
    width: 160px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 68%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.removeTool .removeTooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

.removeTool:hover .removeTooltipText {
    visibility: visible;
    opacity: 1;
  }

.purchaseTool .purchaseTooltipText {
    width: 90px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 115.7%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.purchaseTool .purchaseTooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

.purchaseTool:hover .purchaseTooltipText {
    visibility: visible;
    opacity: 1;
  }

.removeBtn{
    margin-left: 20px;
    color: black;
    font-size: 26px;
}

.removeBtn:hover{
    cursor: pointer;
    color: #806543;
}

.alertBtn{
    font-size: 28px;
    margin-left: 18px;
    color: black;
}

.alertBtn:hover{
    cursor: pointer;
    color: #806543;
}

.iconContainer {
    display: inline-flex;
    flex-direction: column;
}

.rangeslider {
    margin-left: 50px !important;
    margin-right: 10px !important;
}

.alertModal {
    width: 40% !important;
    height: 45% !important;
    border-radius: 10px !important;
}

.alertInput {
    width: 90% !important;
}

.rangeslider__fill, .rangeslider-vertical {
    background-color: darkgoldenrod !important;
}

.saveBtn {
    position: fixed;
    margin-left: 8px;
}

.signUpUser {
    height: 38vh !important;
    border-radius: 7px !important;
}

.progressBar2 {
    margin: 12px 0px 0px 30px !important;
    width: 80% !important;
}

.alertInput {
    padding-left: 30px !important;
    width: 15% !important;
    position: relative;
    left: 35%;
}

.alertModalMobile{
    border-radius: 7px !important;
    height: 45% !important;
}

.spacer {
    margin-right: auto;
    visibility: hidden;
}

.search2Btn:hover {
    cursor: pointer;
}

.searchboot{
    display: flex;
    justify-content: center;
    position: relative;
    left: 9px;
    margin: 30px 0px;
}

.searchboot2 {
    height: 20px !important;
    padding-top: 15px !important;
    margin-left: 10px !important;
    border-bottom: none !important;
}

.searchboot2:focus {
    outline: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}


.searchboot4 {
    border-bottom: none !important;
    padding-left: 15px !important;
    height: 20px !important;
    margin-top: 9px !important;
}

.searchboot4:focus {
    outline: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.inputBox2 {
    display: flex !important;
    align-items: center !important;
}

.inputBox {
    width: 70vw !important;
    right: 4px;
}

.inputBox3{
    width: 62vw !important;
    right: 23px;
}

.input-group-prepend:hover {
    cursor: pointer;
}

.nav-wrapper2 {
    background-color: #0C1344 !important;
}

.sidenav {
    background-color: #806543 !important;
}

.sidenav-overlay {
    left: 300px !important;
}

.sidenav li>a {
    color: azure !important;
    display: block !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    height: 48px !important;
    line-height: 48px !important;
    padding: 0 32px !important;
}

.sidenav li>a:hover {
    background-color: #0C1344 !important;
}

.sidenavPoof {
    background-color: black;
    height: 6%;
}

.searchBox2 {
    margin-top: 10px;
}

.sidenavHome {
    margin-top: 10px;
}

/*Mobile Multi-Select Filter*/

.disabled {
    background-color: lightgrey !important;
}

.multiSelectComponent {
    position: relative;
    top: -10px;
    height: 0px;
    width: 100%;
    left: 5px;
}

.multiSelectRow {
    justify-content: space-around;
    position: relative;
    left: 1vw;
}

.select-wrapper input.select-dropdown {
    font-size: 0.88rem !important;
}

@media screen and (min-width: 800px) {
    .multiSelectRow {
        justify-content: space-between;
        position: relative;
        left: 7vw;
    }
}

.searchAndCountContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .searchAndCountContainer {
        font-size: 10.9px;
    }
}

.searchAndCountGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 10px;
}

.searchWordAndItemCount {
    text-align: center;
    word-break: break-word;
    display: flex;
    justify-content: center !important;
}

/* .searchCount {
    display: flex;
    justify-content: flex-end;
    padding-right: 3vw;
} */

@media screen and (max-width: 998px) {
    .multiSelectComponent {
        top: -3px;
    }
}

/*HeaderComponent2 Styling*/

.newNavBar{
    top: 0;
    left: 0;
    width: 100%;
    transition: top 1s;
    z-index: 2;
    border-bottom: 1px solid;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #0C1344;
}

.contactNavBar {
    top: 0;
    left: 0;
    width: 100%;
    transition: top 1s;
    z-index: 2;
    border-bottom: 1px solid;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #0C1344;
}

.featuresNavBar {
    top: 0;
    left: 0;
    width: 100%;
    transition: top 1s;
    z-index: 2;
    border-bottom: 1px solid;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #0C1344;
    height: 10vh;
}

.newNavBar2{
    visibility: hidden;
    top: -50px;
}

.modalTitle2{
    font-weight: 600;
    color: #0C1344;
}

.desktopModalSignIn{
    border-radius: 10px !important;
    height: 30% !important;
    width: 35% !important;
}

.desktopModalTitle{
    font-weight: 600;
    color: #0C1344;
    text-align: center;
}

.logOutUserWatchDesktop{
    position: relative;
    right: 15px;
    top: 8px;
    color: white;
}

.logOutUserWatchDesktop:hover{
    cursor: pointer;
    color: #806543
}

.logOutDesktop{
    font-size: 40px;
}

.newPoofLogo {
    padding-left: 20px !important;
    padding-right: 23px !important;
    font-size: xxx-large !important;
}

.newPoofLogo2 {
    padding-left: 20px !important;
    border-right: white solid 1px !important;
    padding-right: 23px !important;
    font-size: xxx-large !important;
}

.poofLogo {
    padding: 0px 20px 0px 15px;
    border-right: 1px solid;
    height: vh !important;
    color: white !important;
    height: 100% !important;
    font-size: xxx-large;
    width: 15%;
}

.poofLogo:hover {
    background-color: #806543;
}

.mainHeaderLogo {
    font-size: xxx-large;
    padding-left: 20px;
    border-right: white solid 1px;
    width: 160px;
}

.mainHeaderLogo:hover {
    background-color: #806543;
    cursor: pointer;
}

a {
    color: white !important;
}

.mobile-watchlist-icon2 {
    padding-top: 20px;
    font-size: 48px;
    top: 5%;
}

.keyboardReturnIcon:hover{
    color: #806543;
}

.mobile-watchlist-icon2:hover{
    color: #806543;
}

.mobile-watchlist3{
    position: relative;
    right: 2%;
    top: 14%;
}

.mobile-watchlist {
    height: 40px;
    width: 40px;
    background-color: #806543;
    position: absolute;
    right: 5%;
    bottom: 7%;
    display: flex;
    justify-content: "center";
    align-items: "center";
    border-radius: 7px;
    z-index: 2;
}

.mobile-watchlist:hover {
    cursor: pointer;
    background-color: #0C1344;
}

.watchlistMobileTitle {
    color: white;
    text-align: center;
    margin-top: 14px;
}

.mobile-watchlist2 {
    color: white;
    margin: 8px 0px 0px 8px;
}

.watchlistContainerBar {
    height: 50px;
    background-color: #0C1344;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.returnToSearchIcon {
    position: relative;
    left: 2%;
    top: 15%;
}

/* .returnToSearch {
    height: 75px;
    width: 82px;
    background-color: #806543;
    position: absolute;
    right: 2%;
    top: 8%;
    border-radius: 7px;
    z-index: 2;

}

.returnToSearch:hover {
    cursor: pointer;
    background-color: #0C1344;
} */

/* .returnTitle {
    color: white !important;
    text-align: center !important;
    margin-top: 14px !important;
} */

.watchCard {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    margin: 20px 30px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    color: rgba(0, 0, 0, 0.87);
    outline: none;
}

.watchCard:hover {
    -moz-transform: scale(1.02);
			-webkit-transform: scale(1.02);
			-ms-transform: scale(1.02);
			transform: scale(1.02);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}



.watchImage{
    background-color: blue;
}

.watchContent {
    background-color: red;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 60px;
}

.test1 {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.test2 {
    height: 50px;
    width: 50px;
    background-color: red;
}

.removeToolMobile .removeTooltipTextMobile {
    width: 90px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 123%;
    left: 58.6%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.removeToolMobile .removeTooltipTextMobile::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
  }
  
  .removeToolMobile:hover .removeTooltipTextMobile {
    visibility: visible;
    opacity: 1;
  }

.purchaseToolMobile .purchaseTooltipTextMobile {
    width: 90px;
    font-size: smaller;
    font-weight: 400;
    visibility: hidden;
    background-color: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 121%;
    left: 88.8%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    word-break: break-word;
}

.purchaseToolMobile .purchaseTooltipTextMobile::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
  }
  
  .purchaseToolMobile:hover .purchaseTooltipTextMobile {
    visibility: visible;
    opacity: 1;
  }

.priceTag2 {
    font-weight: 600;
    font-size: 22px;
    color: #e64949;
    left: 35px;
    top: 5px;
}

.logInMobile {
    color: white;
    font-size: large;
}

.mobileLogin {
    text-align: center;
    padding: 5px 10px 0px 10px;
}

.mobileInput {
    margin-top: 15px !important;
}

.submit-button:hover{
    background-color: #806543 !important;
}

.close-button:hover{
    background-color: #806543 !important;
}

.newSaveBtn {
    margin-left: 111px;
    position: fixed;
    bottom: 42px;
    background-color: #806543 !important;
    border: 2px black solid !important;
}

.newSaveBtn:hover {
    background-color: var(--cool-gray-80,#283e4a) !important;
}

.watchlistSaveBtn{
    background-color: #0C1344 !important;
}

.loadListIcon{
    position: relative;
    right: 3%;
    top: 17%;
}

.loadListIcon:hover{
    cursor: pointer;
    color: #806543;
}

.mobileSearchProgress{
    position: relative;
    right: 3%;
}

.watchlistRouteContainer{
    width: 90% !important;
    margin-top: 25px !important;
    margin-bottom: 30px !important;
}

.mobileRouteLogin{
    position: relative;
    right: 3%;
    top: 14%;
}

/*WatchRoute Component */
.watchRouteCard{
    position: relative;
    left: 17%;
    top: -4%;
}

.logOutUserWatchRoute{
    position: relative;
    right: 2%;
    top: 15%;
}

.logOutUserWatchRoute:hover{
    cursor: pointer;
    color: #806543;
}

.watchRouteCardTitle{
    font-size: 16px !important;
    max-height: 80px !important;
}

.modalTitle{
    color: #0C1344;
    font-size: 170%;
    font-weight: 600;
}

.watchRouteImage{
    margin: 6px 0px 0px 23px;
}

.mobileAlertModal{
    position: relative !important;
    left: -30px !important;
}

.fillerRoute{
    width: 105px;
}

.purchaseLinkIconBtnMobile{
    color: black;
}

.purchaseLinkIconBtnMobile:hover{
    color: #806543;
}

.purchaseLinkBtnMobile{
    position: relative;
    left: 20px;
}

.watchlistButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}



.loadingUserItems{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileLoadingText{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

/*Compare Table Route*/

/*Mobile Front Page*/
.mobileBanner{
    height: 60px;
    position: absolute;
    width: 100%;
    background-color: #0C1344;
}

.mobileFooter{
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #0C1344;
}

.mobileFrontPage{
    position: absolute;
    top: 11%;
}

.mobileFrontPic{
    position: absolute;
    height: 92% !important;
    width: 146% !important;
    opacity: 0.38;
    top: 7%;
    left: -14%;
}



.mobileSearchForm {
    margin: 30px 0px;
    position: relative;
    right: 15px;
}

form.mobileSearchForm input[type=text] {
    margin-right: 4px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #0C1344;
    float: left;
    height: 3vh;
    width: 58%;
    background: white;
    border-radius: 10px 0px 0px 10px;
}

form.mobileSearchForm input:focus{
    border-bottom: none !important;
    box-shadow: none !important;
}

input::placeholder {
    color: #6f7275;
}

form.mobileSearchForm button {
    position: relative;
    top: -2px;
    left: left;
    width: 15%;
    height: 7vh;
    padding: 10px;
    background: #0C1344;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    cursor: pointer;
}

form.mobileSearchForm button:hover {
    background: #806543;
}

.mobileSearchBar{
    top: -18%;
}

.mobileProgressSearchBar{
    position: relative;
    left: 12px;
}

.poofMobileLogo{
    opacity: 1 !important;
}

.poofMobileLogo:hover{
    cursor: pointer;
}

/* .progressMobile {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    margin: 25px 0px;
  }
  
  .progress-value-mobile {
    animation: load 1.5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
    animation-iteration-count: infinite;
  
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  } */

  .loadBar1 {
    height: 20px;
    width: 86%;
    background: #806543;
    border-radius: 25px;
    position: absolute;
  }

  .loadBar2 {
    height: 20px;
    width: 100px;
    background: #141B4D ;
    border-radius: 25px;
    position: relative;
    animation: slide 1.3s linear forwards;
    animation-iteration-count: infinite;
  }

  @keyframes slide {
    0% {
        left:0%;
        right:100%;
        width:0%;
      }
      10% {
        left:0%;
        right:75%;
        width:25%;
      }
      90% {
        right:0%;
        left:62%;
        width:25%;
      }
      100% {
        left:86%;
        right:0%;
        width:0%;
      }
  }

  .progressMobile {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    margin: 25px 0px;
  }
  
  .progress-value-mobile {
    animation: load 1.5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
    animation-iteration-count: infinite;
  
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }

/*Second Mobile Front Page*/


.poofMobileComponent {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./images/rainbowPoofReduced.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-attachment: initial !important;
    background-size: 100vw 46rem;
    background-position-y: -100px !important;
    background-color: white;
}

.loading-content-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.poofSlothPicMobile {
    z-index: 1;
    width: 53vw;
    -webkit-animation: surfMobile 2s infinite;
    animation: surfMobile 2s infinite;
}

.loadingMobileTitle {
    font-size: 18px;
    color: rgb(20, 27, 77);
    font-weight: 600;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 15px;
    opacity: 0.79;
    right: 17px;
    display: flex;
    justify-content: center;
}

.mobileTitleText {
    text-align: center;
    font-weight: 700;
    color: #141B4D;
}

.poofElectronics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.poofBooks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.poofClothes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.poofGames {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.iconContent2 {
    position: relative;
    left: 9px;
}

.topSearch {
    width: 50px;
    height: 175px;
    border: black solid 2px;
    border-radius: 20px;
    margin-left: 36px;
    max-width: 21.8% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topSearchBody {
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topCategoryTitle {
    position: relative;
    top: 12px;
}

.topSearchPic {
    max-width: 100px;
}

.mobilePoofIcon {
    align-items: center;
}

/*topSearchCards*/

.topSearchCard {
    width: 225px !important;
    max-width: 540px;
    height: 150px !important;
    border-radius: 8px !important;
    margin-top: 25px !important;
}

.topSearchCard:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}


.icon1{
    display: flex;
    padding: 25%;
    border: 4px solid #0C1344;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #141B4D;
    box-shadow: 0 6px 2px 0 rgba(0,0,0,0.14);
}

@media screen and (min-width: 650px) {

    .mobileIcon1 {
        position: relative;
        right: 6px;
        padding: 25% 15.5vw;
    }
}

@media screen and (min-width: 675px) {

    .mobileIcon1 {
        position: relative;
        right: 15px;
    }

    .mobileIcon3 {
        position: relative;
        right: 5px;
    }
}

@media screen and (min-width: 700px) {

    .mobileIcon1 {
        position: relative;
        right: 30px;
    }

    .mobileIcon3 {
        position: relative;
        right: 14px;
    }
}

@media screen and (min-width: 740px) {

    .mobileIcon1 {
        position: relative;
        right: 45px;
    }

    .mobileIcon3 {
        position: relative;
        right: 23px;
    }
}

.icon2{
    display: flex;
    padding: 25%;
    border: 4px solid #0C1344;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #141B4D;
    box-shadow: 0 6px 2px 0 rgba(0,0,0,0.14);
}

.mobileIcon2 {
    padding: 25% 11vw !important;
}

.icon3{
    display: flex;
    padding: 25%;
    border: 4px solid #0C1344;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #141B4D;
    box-shadow: 0 6px 2px 0 rgba(0,0,0,0.14);
}

.mobileIcon3 {
    padding: 25% 11.3vw !important;
}

.icon4{
    display: flex;
    padding: 25% 26%;
    border: 4px solid #0C1344;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #141B4D;
    box-shadow: 0 6px 2px 0 rgba(0,0,0,0.14);
}

.mobileIcon4 {
    padding: 25% 11vw !important;
}

.pIcon {
    transition: box-shadow .2s, border .1s;
}

.pIcon:hover {
    cursor: pointer;
    background-color: #806543;
    color: white !important;
    box-shadow: 3px 6px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.poofLaptopIcon2 {
    width: 100%;
}

.poofStudyIcon2 {
    width: 100%;
}

.poofFashionIcon2 {
    width: 100%;
}

.poofGamingIcon2 {
    width: 100%
}

.poofModalBody {
    height: 35vh !important;
    border-radius: 40px !important;
}


.poofMobileInput{
    background-color: white !important;
    box-shadow: 1px 6px 5px 0 rgba(0, 0, 0, 0.16) !important;
    position: relative;
    left: 12px !important;
    right: 7px !important;
    border-radius: 25px !important;
    padding-left: 25px !important;
}

.poofMobileInput:hover {
    box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.16) !important;
    -moz-transform: scale(1.02);
			-webkit-transform: scale(1.02);
			-ms-transform: scale(1.02);
			transform: scale(1.02);
}

.poofMobileSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poofMobileContainer {
    margin-top: 15px !important;
}

.poofMobileSearchIcon{
    position: relative;
    right: 30px;
    bottom: 5px;
}

.poofMobileSearchIcon:hover {
    cursor: pointer;
    color: #806543;
}

.poofMobileFooter {
    height: 19vh;
    width: 100vw;
    background-color: #0C1344;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poofMobileSignIn {
    color: white;
    font-size: 6vh;
    position: relative;
    top: 6px;
}

.poofMobileSignIn:hover {
    cursor: pointer;
    color: #806543;
}

.poofIconName {
    font-weight: 600;
}

.mobileProgress {
    background: #806543;
    height: 2vh;
}

.mobileProgress2 {
    background: #141B4D;
    height: 2vh;
}

.mobileRouteLogin3 {
    position: relative;
    top: 8px;
    left: 4px;
}

.poofMobileSignInIcon {
    color: white;
}

.poofMobileSignInIcon:hover {
    cursor: pointer;
    color: #806543;
}

.poofMobileWatchlistIcon {
    font-size: 7vh;
}

.poofMobileWatchlistIcon:hover {
    color: #806543;
}

/*Desktop Header v2*/

#scrollTarget {
    position: absolute;
    top: -10vh;
}

.poofDesktopContainer {
    height: 100vh;
}

.poofDesktopComponent {
    height: 100vh;  
}

.aboutLink {
    position: absolute;
    right: 3vw;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    z-index: 1;
}

.aboutLink:hover {
    cursor: pointer !important;
    color: #806543 !important;
    z-index: 1;
}

.poofDesktopBackground {
    height: 80vh;
    background-image: url(./images/fireworksPoof.png) !important;
    background-size: 100vw 113vh;
    background-repeat: no-repeat !important;
    background-attachment: scroll !important;
    background-attachment: initial;
    background-position-y: -116px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

@media screen and (max-width: 1199px){
    .poofDesktopComponent{
        background-size: 100vw 39.3rem;
    } 
}

@media screen and (max-width: 991px){
    .poofDesktopComponent{
        background-size: 100vw 39.6rem;
    } 
 }


.poofOverlay {
    width: 100vw;
    height: 80vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.poofDesktopInput{
    background: white !important;
    border-radius: 25px !important;
    padding-left: 20px !important;
    height: 4.5rem !important;
}

.poofDesktopInput:hover {
    box-shadow: 5px 10px 5px 0 rgba(0, 0, 0, 0.16) !important;
}

.poofDesktopInput:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.desktopImage {
    position: absolute;
    height: 70vh;
    width: 100vw;
    background-position-y: 635px;
    background-size: cover;
    background-color: #555;
    margin: 0 0 20px;
    text-align: center;
    transition: .8s;
}

.poofHeadline{
    position: relative;
    bottom: 25px;
}

.poofTitleText {
    color: white;
    text-align: center;
    width: 100% !important;
}

.poofSlothRow {
    display: flex;
    justify-content: center;
}

.poofSlothPic {
    width: 20vw;
    height: 14vh;
    position: relative;
    bottom: 24vh;
    right: 9px;
    -webkit-animation: surf 1.5s infinite;
    animation: surf 1.5s infinite;
}

@keyframes surf {
    0% {transform: rotate(-25deg)}
    50% {transform: rotate(25deg)}
    100% {transform: rotate(-25deg)}
}

@keyframes surfMobile {
    0% {transform: rotate(-30deg)}
    50% {transform: rotate(30deg)}
    100% {transform: rotate(-30deg)}
}

.loading-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 15vh;
}

.searchContent {
    position: relative;
    right: 25px;
}

.poofDesktopSearch {
    position: relative;
    bottom: 35px;
}

.poofDesktopSearchIcon {
    position: absolute;
    right: 0px;
    top: 13px;
    font-size: 40px;
}

.poofExclamation {
    height: 4.5rem;
    position: absolute;
    top: -36px;
    right: -50px;
}

.poofDesktopSearch:hover{
    cursor: pointer;
    color: #806543;
    -moz-transform: scale(1.01);
			-webkit-transform: scale(1.01);
			-ms-transform: scale(1.01);
            transform: scale(1.01);
}

.desktopProgressSearchBar {
    position: relative;
    bottom: 30px;
}

.exampleContainer {
    position: relative;
    right: 10px;
}

.exampleContainerMobile {
    position: relative;
    left: 15px;
}

.desktopLoadBar1 {
    height: 20px;
    width: 100%;
    background: #806543;
    border-radius: 25px;
    position: absolute;
  }

  .desktopLoadBar2 {
    height: 20px;
    width: 100px;
    background: white ;
    border-radius: 25px;
    position: relative;
    animation: move 1.3s linear forwards;
    animation-iteration-count: infinite;
  }

  @keyframes move {
    0% {
        left:0%;
        right:100%;
        width:0%;
      }
      10% {
        left:0%;
        right:75%;
        width:25%;
      }
      90% {
        left:75%;
        right:0%;
        width:25%;
      }
      100% {
        left:100%;
        right:0%;
        width:0%;
      }
  }

.desktopContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dIcon {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.fillerBody1 {
    height: 300px;
}

.poofDesktopFooter {
    position: absolute;
    width: 100vw;
    top: 100vh;
    background-color: #0C1344;
    color: white;
}

.poofDesktopFooterTopSellers {
    position: absolute;
    width: 100vw;
    top: 340vh;
    background-color: #0C1344;
    color: white;
}

.footerTitles {
    display: flex;
    justify-content: space-around;
}

.footerTitles li h4 {
    color: #806543;
    font-weight: 600;
}

.footerTitles li ul li:hover {
    cursor: pointer;
    color: #806543;
}

.footerTitleV2 li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footerLinkV2:hover {
    cursor: pointer;
    text-decoration: underline !important;
}

.footerTitlesDesktop {
    display: flex;
    justify-content: space-around;
}

.footerTitlesDesktop li h4 {
    color: white;
    font-weight: 600;
}

.footerTitlesDesktop li ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footerContainer {
    padding: 45px 0px 40px 0px;
}

/* .aboutLinkFooter:hover {
    cursor: pointer;
    color: #806543 !important;
}

.contactLinkFooter:hover {
    cursor: pointer;
    color: #806543 !important;
}

.featureLinkFooter:hover {
    cursor: pointer;
    color: #806543 !important;
}

.termsLinkFooter:hover {
    cursor: pointer;
    color: #806543 !important;
}

.privacyLinkFooter:hover {
    cursor: pointer;
    color: #806543 !important;
} */

#footerLinksDesktop:hover {
    cursor: pointer;
    color: unset !important;
    text-decoration: underline;
}

/*Poof Loader v2*/

.poofLoadingList {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5vh;
}

.poofLoadingItem {
    list-style: none;
    color: #484848;
    font-family: arial;
    font-size: 5em;
    font-weight: 900;
    letter-spacing: 15px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    0% {
        color: #484848;
        text-shadow: none;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #fff;
        text-shadow: 0 0 7px #fff, 0 0 50px #c1d35e;
    }
}

.poofLoadingList li:nth-child(1){
    animation-delay: .2s;
}
.poofLoadingList li:nth-child(2){
    animation-delay: .4s;
}
.poofLoadingList li:nth-child(3){
    animation-delay: .6s;
}
.poofLoadingList li:nth-child(4){
    animation-delay: .8s;
}
.poofLoadingList li:nth-child(5){
    animation-delay: 1s;
}

/*Top Sellers content of Desktop Header*/

.topSellersDesktop {
    background: #0C1344;
}

.topSellerContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
    padding: 10vh 10vw;
    position: relative;
}

.amazonRow {
    position: relative;
    z-index: 1;
}

.barnesRow {
    position: relative;
    z-index: 1;
    margin-bottom: 15vh;
}

.newEggRow {
    position: relative;
    z-index: 1;
}

.ebayRow {
    position: relative;
    z-index: 1;
}

.topSellerOverlay {
    position: absolute;
    top: 0;
    left: -6.5%;
    width: 112%;
    background: white;
    height: 40vh;
    z-index: -1;
    border: #0C1344 5px solid;
    border-radius: 20px;
}

.topSellerLogoRow {
    display: flex;
    justify-content: center;
}

.topSellerCard {
    border-radius: 15px !important;
}

.topSellerCard:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.22);
}

.topSellerTitle {
    font-weight: 700;
    font-family: ui-sans-serif;
    color: white;
    z-index: 2;
    position: relative;
    top: 5px;
}

@media screen and (max-width: 1090px) {
    .topSellerTitle {
        font-size: 1.8rem;
    }
}

.topSellerSubTitle {
    font-family: ui-sans-serif;
    color: white;
    z-index: 2;
    position: relative;
    bottom: 10px;
}

.topSellerItemImg {
    position: relative;
    left: 25%;
    top: 10%;
    max-height: 12vh;
}

.topSellerItemTitle {
    font-size: 1rem !important;
    max-height: 7vh !important;
    overflow-y: hidden;
}

.amazonTopSeller {
    width: 100%;
    height: 100%;
    max-height: 28vh;
}

.topSellerLogo {
    max-height: 20vh;
}

.topSellerBuyRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topSellerPrice {
    font-weight: 600;
    font-size: 3vh;
    color: #e64949;
}

.amazonBuyPic {
    max-height: 9vh;
    position: relative;
    right: 1vw;
}

.barnesBuyPic {
    position: relative;
    right: 1vw;
}

.newEggBuyPic {
    max-height: 12vh;
    position: relative;
    right: 1vw;
}

.ebayBuyPic {
    max-height: 10vh;
    position: relative;
    right: 1vw;
}

.desktopTopScrollerV3 {
    z-index: 2;
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    padding: 7px;
    background: #d48a8a !important;
    border-radius: 7px;
    color: white;
    opacity: 0.8;
    transition: opacity 1s;
    animation: enlarge 0.8s;
}

.hideScroller {
    opacity: 0;
}

.desktopTopScrollerV3:hover {
    opacity: 1 !important;
    cursor: pointer;
    background-color: var(--cool-gray-80,#283e4a) !important;
    border: white solid 1px;
}

@keyframes enlarge {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}


/*About Poof Page*/

.aboutPoofNavBar {
    position: fixed;
    width: 100vw;
    background-color: black;
    height: 10vh;
    z-index: 1;
    top: 0;
    right: 15px;
}

.aboutTitle {
    font-size: 3rem;
    font-weight: 600;
    font-family: serif;
    position: relative;
    top: 1vh;
}

@media screen and (max-width: 998px) {
    .aboutTitle {
        top: 3vh;
    }
}

.aboutContainer {
    margin-top: 10vh !important;
}

.aboutListItems {
    margin-bottom: 0 !important;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aboutListItems li {
    margin-top: 5vh;
}

.listItemTitle {
    font-weight: 600;
}

.listItemContent b {
    color: #806543;
    font-weight: 900;
}

.aboutRow {
    margin-bottom: unset !important;
}

/*FooterSearchPage Component*/

.poofSearchPageFooter {
    background-color: #0C1344;
    color: white;
    margin-top: 8vh;
}

.poofSearchPageFooterDesktop {
    background-color: #806543;
    color: white;
}

/*Mobile Search Page*/


.progressMobileSearchPage {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
  }
  
  .progress-value-mobileSearchPage {
    animation: loadSearch 1.5s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
    animation-iteration-count: infinite;
  
  }
  
  @keyframes loadSearch {
    0% { width: 0; }
    100% { width: 100%; }
  }

.mobileSearchForm2 {
    position: relative;
    top: 5px;
    right: 6px;
}

@media screen and (min-width: 800px) {
    .mobileSearchForm2 {
        right: 60px;
    }
}

form.mobileSearchForm2 input[type=text] {
    margin-right: 4px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #0C1344;
    float: left;
    height: 27px;
    width: 72%;
    background: white;
    border-radius: 10px 0px 0px 10px;
    top: 0px;
    position: relative;
}

form.mobileSearchForm2 input:focus{
    border-bottom: none !important;
    box-shadow: none !important;
}

form.mobileSearchForm2 button {
    position: relative;
    top: -4px;
    left: left;
    width: 15%;
    height: 60px;
    padding: 10px;
    background: #0C1344;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    cursor: pointer;
}

@media screen and (max-width: 998px){

    form.mobileSearchForm2 input[type=text] {
        margin-right: 4px;
        padding: 10px;
        font-size: 17px;
        border: 1px solid #0C1344;
        float: left;
        height: 27px;
        width: 72%;
        background: white;
        border-radius: 10px 0px 0px 10px;
        top: 4px;
        position: relative;
    }

    form.mobileSearchForm2 button {
        position: relative;
        top: 0px;
        left: left;
        width: 15%;
        height: 60px;
        padding: 10px;
        background: #0C1344;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-radius: 0px 10px 10px 0px;
        border-left: none;
        cursor: pointer;
    }

}

form.mobileSearchForm2 button:hover {
    background: #806543;
}

.mobileSearchPageIcon {
    position: relative;
    right: 8px;
}

/*Media queries for iphone X portrait and landscape view of mobile header v2*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .mobileIcon1{
        padding: 25% 18.7vw !important;
        position: relative;
        right: 10px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .mobileIcon1{
        padding: 25% 15vw !important;
        position: relative;
    }

    .mobileRouteLogin3 {
        position: relative;
        top: 8px;
        left: -5px;
    }

    .poofModalBody {
        height: 50vh !important;
        width: 55vw !important;
        border-radius: 40px !important;
    }

    .poofModalLandscape {
        position: relative;
        bottom: 25px;
    }
}



