.privacyPageContainer {
    margin-top: 15vh;
}

.privacyHeading {
    font-size: 19px;
    font-family: Arial;
    color: #000000;
    font-weight: bold;
}

.privacySubHeading {
    font-size: 17px;
    font-family: Arial;
    color: #000000;
    font-weight: bold;
}

.privacyParagraph {
    color: #595959;
    font-size: 14px;
}

ul.privacyUnorderedListItem li{
    display: list-item;
    list-style-type: square;
}

/*For top scroller*/

.desktopTopScrollerPrivacy {
    z-index: 2;
    position: fixed;
    right: 4vw;
    bottom: 3vh;
    padding: 7px;
    background: #806543;
    border-radius: 7px;
    color: white;
    opacity: 0.8;
    transition: opacity 1s;
    animation: enlarge 0.8s;
}

.hideScrollerPrivacy {
    opacity: 0;
}

.desktopTopScrollerPrivacy:hover {
    opacity: 1 !important;
    cursor: pointer;
    background-color: var(--cool-gray-80,#283e4a);
    border: white solid 1px;
}

@keyframes enlarge {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}

#desktopTopPrivacy {
    position: relative;
    top: -300px;
}

.poofPrivacyLink:hover {
    color: blue !important;
    text-decoration: underline !important;
}